html,
body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    padding:0;
    margin: 0;
    overflow-x:hidden;
    /* background-color: var(--color-4); */
    color: var(--color-1);
    --color-1: #eeeeee;
    --color-2: #b55400;
    --color-3: #393e46;
    --color-4: #222831;
    --color-blue-hightlight: rgba(3, 102, 214, .7);

    --hover-scale: 1.04;
}

.not-visible {
    display: none !important;
}

.dialog {
    display: flex;
}

.form {
    width: 60%;
    padding: 50px;
    padding-right: 400px;
}

.form .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form .inputs .ipt {
    display: flex;
    align-items: center;
}

.form .inputs label {
    flex: 4;
}

.form .inputs input,
.form .inputs select {
    flex: 8;
    height: 32px;
}

.form .inputs input[type="checkbox"] {
    height: 24px;
}

.graph-area {
    position: relative;
}

.layer-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    pointer-events: none;
}

.tags-box {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.2);
    height: 200px;
    max-width: 200px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    overflow-y: scroll;
}

.span-tg {
    padding: 4px 8px;
    border-radius: 10px;
}

.drop-area:hover,
.drop-area.hovered {
    box-shadow: var(--color-blue-hightlight) 0px 0px 0px 3px;
    transform: scale(var(--hover-scale));
}

.drop-area {
    width: 300px; 
    height: 300px; 
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    background-color: var(--color-1);
    color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area i {
    font-size: 42px;
}

.drop-area input.ipt {
    display: none;
}

.nav-item  {
    position: relative;
}

.nav-item:not(.new-tab) .nav-link {
    padding-right: 32px;
}

.nav-item:not(.new-tab) .nav-link-btn.close {
    position: absolute;
    right: 12px;
    top:.5rem;
    padding: 5px;
    font-size: 12px;
    color: #495057;
}

.nav-item:not(.new-tab) .nav-link-btn.close:hover {
    background-color: lightgray;
    cursor: pointer;
}