html,
body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    padding:0;
    margin: 0;
    overflow-x:hidden;
    /* background-color: var(--color-4); */
    --color-1: #eeeeee;
    --color-2: #b55400;
    --color-3: #393e46;
    --color-4: #222831;
    --color-blue-hightlight: rgba(3, 102, 214, .7);

    --hover-scale: 1.04;
}

.not-visible {
    display: none !important;
}
.tab-pane {
    /* padding: 50px; */
}
.dialog {
    display: flex;
    gap: 32px
}

.form {
    padding: 20px;
}

.form .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form .inputs .ipt {
    display: flex;
    align-items: center;
}

.form .inputs label {
    flex: 4;
}

.form .inputs input,
.form .inputs select,
.form .inputs .ipt-div {
    flex: 8;
    height: 32px;
}

.form .inputs div.ex-value {
    display: flex;
    align-items: center;
}

.form .inputs input[type="checkbox"] {
    height: 24px;
}

.table-data {
    min-width: 700px;
    min-height: 300px;
}

table td,
table th {
    vertical-align: middle;
}

.graph-area {
    position: relative;
}

.layer-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    pointer-events: none;
}

.menus {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}
.menus .btns {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-end;
    gap: 8px;
}

.menus .btns > button {
    width: fit-content;
    padding: 5px;
}

.menus .tag-search input {
    width: 100px;
}

.tags-box {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    height: 200px;
    max-width: 200px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    overflow-y: scroll;
}

.tags-box > span > span {
    margin-left: 5px;
}

.tags-box > span:hover {
    opacity: 0.7;
    cursor: pointer;
}

.tags-box > span > span:hover {
    background-color: rgba(0, 0, 0, .5);
}

.span-tg {
    padding: 4px 8px;
    border-radius: 10px;
}

.drop-area:hover,
.drop-area.hovered {
    box-shadow: var(--color-blue-hightlight) 0px 0px 0px 3px;
    transform: scale(var(--hover-scale));
}

.drop-area {
    height: 300px; 
    border: 1px solid black;
    background-color: var(--color-1);
    color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area i {
    font-size: 42px;
}

.drop-area input.ipt {
    display: none;
}

.data-info {
    flex-grow: 1;
}

.nav-item  {
    position: relative;
}

.nav-item:not(.new-tab) .nav-link {
    padding-right: 32px;
}

.nav-item:not(.new-tab) .nav-link-btn.close {
    position: absolute;
    right: 12px;
    top:.5rem;
    padding: 5px;
    font-size: 12px;
    color: #495057;
}

.nav-item:not(.new-tab) .nav-link-btn.close:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tab-content,
.tab-pane,
.graph-area {
    height: calc(100vh - 42px);
    width: 100vw;
}

.tab-pane {
    overflow-x: auto;
}

.cl, .data-info {
    flex: 6;
}

.btn-color-pick {
    width: 32px;
    height: 32px;
    /* width: 30px; */
}

.color-pick {
    visibility: hidden;
    width: 0px;
    padding: 0;
    margin: 0;
    border: 0;
}

.alerts {
    position: fixed;
    z-index: 10;
    right: 32px;
    bottom: 16px;
    display: flex;
    flex-direction: column-reverse;
}
.alert {
    transition: all 0.3s ease-in-out;
    transform: translateY(100px);
}

.alert.show {
    transform: translateY(0px);
}

.context-menu {
    position: fixed;
    z-index: 10;
}

.context-menu nav {
    background-color: white;
    border: 1px solid gray;
    width: 150px;
}

.context-menu nav.sub-menu {
    position: fixed;
}

.context-menu .nav-link.w-sub::after {
    content: '>';
    position: absolute;
    right: 8px;
    transition: transform 0.3s ease-in-out;
}

.context-menu .nav-link.w-sub.m-active::after {
    transform: rotateY(180deg);
}

.context-menu .nav-link:hover {
    background-color: rgba(211, 211, 211, .3);
    cursor: pointer;
}